@model IEnumerable<RestIT.Controllers.HomeController.GroupByRestaurant>
@{
    ViewData["Title"] = "GroupBy RestaurantTypes";
}

<script src="https://d3js.org/d3.v5.min.js"></script>

<style>
    .chart {
        fill: lightpink;
        stroke: lightsalmon;
        stroke-width: 0.5px;
    }
</style>

<h2> GroupBy Restaurant Types</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestCount)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestCount)
            </td>
        </tr>
    }
</table>

@{
    var restaurantTypes = ViewBag.data;
}

<div id="restaurantTypes" hidden>@restaurantTypes</div>

<div>
    <svg class="chart" name="countRestaurants" width="1000" height="400" onload="restaurantTypesChart();"></svg>
</div>

