@model RestIT.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.restName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.restLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.restLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.restRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.restRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.restType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.restType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.restKosher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.restKosher)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
