@model RestIT.Models.ViewModels.RestaurantSearchViewModel
@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/RestIT.js"></script>


<h2>Restaurants List</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <form asp-controller="Restaurants" asp-action="Index" method="get">
        <span class="col-md-6">
            Restaurant Name: <input asp-for="SearchString">
            <button type="submit" class="btn btn-secondary"> Filter</button>
        </span>

        <span class="col-md-6">
            <button type="button" class="btn btn-outline-secondary btn-sm">Advanced Search</button>
            <span id="RestaurantAdvancedSearch" style="display:none;">
                <select asp-for="RestaurantType" asp-items="Model.Types">
                    <option value="">All Types</option>
                </select>

                <select asp-for="RestaurantCity" asp-items="Model.Citys">
                    <option value="">All Locations</option>
                </select>
            </span>
        </span>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].restName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].restAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].restCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].restRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].restType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].restKosher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Dishes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restKosher)
            </td>
            <td>
                @{
                    if (item.Dishes != null)
                    {
                        foreach (var dish in item.Dishes)
                        {
                            @dish.dishName @: <br />
















                        }
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
