@model IEnumerable<RestIT.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Dishes" asp-action="Index" method="get">
    <p>
        Chef Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dishCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dishRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dishType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
