@model RestIT.Models.ViewModels.DishSearchViewModel
@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Dishes List</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <form asp-controller="Dishes" asp-action="Index" method="get">
        <span class="col-md-6">
            Dish Name: <input asp-for="SearchString">
            <button type="submit" class="btn btn-secondary"> Filter</button>
        </span>
        <span class="col-md-6">
            <button type="button" class="btn btn-outline-secondary btn-sm">Advanced Search</button>
            <span id="DishAdvancedSearch" style="display:none;">
                <select asp-for="DishType" asp-items="Model.Types">
                    <option value="">All Types</option>
                </select>
            </span>
        </span>
    </form>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].dishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].dishCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].dishRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].dishType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dishes[0].dishIngredients)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dishIngredients)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
